<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <!--<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v20.1, Version=20.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v20.1, Version=20.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>-->
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DOM_LDAP" value="ale.com.mx" />
	  <add key="X-Auth-Token" value="DrV06LosmCvt92yLiPmZOP81e5LmCmyz" />
    <add key="PATH_LDAP" value="LDAP://ale.com.mx/DC=ale, DC=com, DC=mx" />
    <add key="NombreSitio" value="MexJet360_Produccion" />
    <add key="PathWSMobile" value="http://201.163.208.231/alews-pruebas/webHook/" />
    <add key="RutaTempArchivos" value="C:\TareasProg\" />
    <add key="ContactoEmpresa" value="Ely Andrade" />
    <add key="TelefonoContactoEmpresa" value="+52 722 279 1600" />
    <add key="Tripulacion" value="2" />
    <add key="UsuarioSMS" value="soporteti@ale.mx" />
    <add key="PassSMS" value="L4bs2022.*mexjet" />
    <add key="UrlSMS" value="https://api.labsmobile.com/json/send" />
  </appSettings>
  <connectionStrings>
	  
	  <!--Cadena conexión local-->
	  <!--<add name="SqlDefault" connectionString="UkdGMFlTQlRiM1Z5WTJVOVRWRmFMVXhCVUZ4VFVVeEZXRkJTUlZOVE8wbHVhWFJwWVd3Z1EyRjBZV3h2WnoxTlpYaEtaWFF6TmpCZlVISnZaSFZqWTJsdmJsUmxjM1E3VlhObGNpQkpSRDF6WVR0UVlYTnpkMjl5WkQwd2JUUnljWFV6ZWc9PQ=="
      providerName="System.Data.SqlClient" />-->



	  <!--<add name="SqlDefault" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqTTVPMGx1YVhScFlXd2dRMkYwWVd4dlp6MU5aWGhLWlhRek5qQTdWWE5sY2lCSlJEMVZjM0pOWlhoS1pYUTdVR0Z6YzNkdmNtUTlWWE55VFdWNFNtVjA=" 
      providerName="System.Data.SqlClient" />-->
	  
	  <!--Cadena de conexión servidor 39-->
    <add name="SqlDefault" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqTTVPMGx1YVhScFlXd2dRMkYwWVd4dlp6MU5aWGhLWlhRek5qQTdWWE5sY2lCSlJEMXpZVHRRWVhOemQyOXlaRDF6WVVsdVptOXlNakF4TXc9PQ=="
      providerName="System.Data.SqlClient" />

	  <!--Cadena de conexión servidor 219-->
	  <add name="SqlDefaultFlex" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqTTVPMGx1YVhScFlXd2dRMkYwWVd4dlp6MU5aWGhLWlhRek5qQTdWWE5sY2lCSlJEMXpZVHRRWVhOemQyOXlaRDF6WVVsdVptOXlNakF4TXc9PQ=="
		providerName="System.Data.SqlClient" />

	  <!--Cadena de conexión servidor 219-->
	  <add name="SqlDefaultFlexFli" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqTTVPMGx1YVhScFlXd2dRMkYwWVd4dlp6MUJURVZUZFdsMFpTQTdWWE5sY2lCSlJEMXpZVHRRWVhOemQyOXlaRDF6WVVsdVptOXlNakF4TXc9PQ=="
		providerName="System.Data.SqlClient" />


	  <!--<add name="SqlDefault" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqSXhPVHRKYm1sMGFXRnNJRU5oZEdGc2IyYzlUV1Y0U21WME16WXdPMVZ6WlhJZ1NVUTljMkU3VUdGemMzZHZjbVE5VTFsVExpb3lNREUxSlZOUlRBPT0="
      providerName="System.Data.SqlClient" />-->
    <add name="SqlDefaultFPK" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqZzRPMGx1YVhScFlXd2dRMkYwWVd4dlp6MXRZWE4wWlhJN1ZYTmxjaUJKUkQxellUdFFZWE56ZDI5eVpEMDBURE0xTkUxbGVBPT0="
      providerName="System.Data.SqlClient" />
    <add name="SqlDefaultTripGuide" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqZzRPMGx1YVhScFlXd2dRMkYwWVd4dlp6MVVjbWx3UjNWcFpHVTdWWE5sY2lCSlJEMXpZVHRRWVhOemQyOXlaRDAwVERNMU5FMWxlQT09"
      providerName="System.Data.SqlClient" />
    <add name="SqlDefaulSAP" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqSXlNenRKYm1sMGFXRnNJRU5oZEdGc2IyYzlRV1Z5YjJ4cGJtVmhjMTlGYW1WamRYUnBkbUZ6TzFWelpYSWdTVVE5YzJFN1VHRnpjM2R2Y21ROVVFQWtkekJ5WkRJd01UYz0="
      providerName="System.Data.SqlClient" />
    <add name="SqlDefaulIntegrator" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqSXlNenRKYm1sMGFXRnNJRU5oZEdGc2IyYzlTVzUwWldkeVlYUnZjbE5DVHp0VmMyVnlJRWxFUFhOaE8xQmhjM04zYjNKa1BWQkFKSGN3Y21ReU1ERTM="
      providerName="System.Data.SqlClient" />
	  
	<!--Cadena de conexion servidor 219-->
	<add name="SqlAleSuite" connectionString="UkdGMFlTQlRiM1Z5WTJVOU1Ua3lMakUyT0M0eExqSXhPVHRKYm1sMGFXRnNJRU5oZEdGc2IyYzlRVXhGVTNWcGRHVTdWWE5sY2lCSlJEMXpZVHRRWVhOemQyOXlaRDFUV1ZNdUtqSXdNVFVsVTFGTQ=="
		providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <!--
		Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

		Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Data.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Office.v18.1.Core, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.Bootstrap.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxRichEdit.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxSpreadsheet.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Spreadsheet.v18.1.Core, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxScheduler.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraScheduler.v18.1.Core, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.Resources.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>-->
        <add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <httpRuntime />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Views/frmLogin.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false" bootstrapMode="" checkReferencesToExternalScripts="true" protectControlState="true" />
    <errors callbackErrorRedirectUrl="" />
    <!--<bootstrap allowClientObjectDeferredInitialization="true" mode="Bootstrap4" iconSet="Embedded" />-->
  </devExpress>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Iws_SyteLine" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_Iws_SyteLine1" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.231/wsMexJet_Produccion/wsSiteLine.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iws_SyteLine" contract="ws_SyteLine.Iws_SyteLine" name="BasicHttpBinding_Iws_SyteLine" />
      <endpoint address="http://192.168.1.231/wsMexJet_Produccion/wsSiteLine.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iws_SyteLine1" contract="wsSyteline.Iws_SyteLine" name="BasicHttpBinding_Iws_SyteLine1" />
    </client>
  </system.serviceModel>
</configuration>